<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
    <div class="row" style="flex-direction: column;">


        <!-- <div class="col-md-3">
            <div class="rateBox d-flex align-items-center justify-content-center" style="padding: 25px;background-color  : #282828; height:100%;">
                
                <div class=" ">
                    
                        <h3 class="text-bold mb-0 text-white">
                             50Fifty  Summary 
                        </h3>
                   
                    
                </div>
            </div>
        </div> -->



        <div class="col-md-12">
            <div class="rateBox">
                <h2>Customers</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>{{totalCustomers}}
                            <span>As of {{yesterday | date:'MMM dd yyyy'}}</span>
                        </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <h3>{{summary[0].customersCount}}
                            <span>MTD {{modelDate | date:'MMM yyyy'}}</span>
                        </h3>
                    </div>
                </div>
            </div>
        
        </div>
      
        <div class="col-md-12">
            <div class="rateBox">
                <h2>Vehicles</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>{{totalVehicles}}
                            <span>As of {{yesterday | date:'MMM dd yyyy'}}</span>
                        </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <h3>{{summary[0].vehiclesCount}}
                            <span>MTD {{modelDate | date:'MMM yyyy'}}</span>
                        </h3>
                    </div>
                </div>
            </div>
            
        </div>
      
        <div class="col-md-12">
            <div class="rateBox">
                <h2>Refunds</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>R {{totalRefund}}
                            <span>As of {{yesterday | date:'MMM dd yyyy'}}</span>
                        </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <h3>R {{summary[0].totalRefund}}
                            <span>MTD {{modelDate | date:'MMM yyyy'}}</span>
                        </h3>
                    </div>
                </div>
            </div>
           
        </div>

    </div>
</div>

<google-chart #chart  
[title]="title3"  
[type]="type"  
[data]="data"  
[options]="options"  
[width]="width"  
[height]="height">  
</google-chart>