<!-- <p>info-cards works!</p> -->
<html>
<head><script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script></head>
<app-navigation-bar></app-navigation-bar>
<!-- <app-cust-policy-saving-cards></app-cust-policy-saving-cards> -->
<body>
    <app-cards></app-cards>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="middleArea">
                <div class="headingArea">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Refund</h2>
                        </div>
                        <div class="col-md-8 text-right">
                            <div class="row">
                                <div class="col-md-11 p-0">
                                    <div class="dropdown">
                                      <!-- <mat-form-field appearance="fill">
  <mat-label>Month and Year</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field> -->

                                          <form class="ngxdatepicker">
                                             <input [(ngModel)]="modelDate" autocomplete="off" class="form-control" name="date"
                                             bsDatepicker [bsConfig]="datePicker" [maxDate]="today" style="width: 200px; float: right; "
                                             (onShown)="onOpenCalendar($event)"  [bsValue]="modelDate"/>
                                                <!-- {{modelDate}} -->


                                         </form>

                                    </div>
                                </div>
                             
                            </div>
                            <!-- <ul class="dateUl">
                                    <li class="text-right">

                                    </li>
                                    <li class="upload-new-doc-file">

                                    </li>
                                </ul> -->


                        </div>
                    </div>
                </div>
                <!--table code here-->
                <div class="tableStyle">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Policies</th>
                                <th>Vehicles</th>
                                <th>Refund</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="refunds">
                            <tr *ngFor = "let r of refunds" (click)="getValueOfTd(r.customerId)" (click)="toggleDisplay()">
                                <td>{{r.name}}</td>
                                <td>{{r.policyCount}}</td>
                                <td>{{r.vehicles}}</td>
                                <td><span class="red">R {{r.refund}}</span></td>
                             </tr>
                           
                        </tbody><br><br>
                        <thead *ngIf="isShown">
                            <tr  [hidden]="isDisplay">
                                <th>Customer Name</th>
                                <th>Policy Number</th>
                                <th>Licence Plate Number</th>
                                <th>Rebate Amount</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rd of refundEachDatas" [hidden]="isDisplay">
                                <td>{{rd.customerName}}</td>
                                <td>{{rd.policyNumber}}</td>
                                <td>{{rd.licencePlateNumber}}</td>
                                <td><span class="red">R {{rd.rebateAmount}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="middleArea" align="center" *ngIf="!refunds">
                        <div class="col-md-10 text-center">
                            <h5>NO DATA FOUND</h5>
                        </div>
                        
                        <div class="col-md-10 text-center">
                            <div class="upload-year-doc-section">
                                <!-- <div class="input-group">
                                    <!-- <label class="pl-10 form-control">Report.xlsx</label>
                                    <span class="input-group-text" id="basic-addon2">
                                         <input type="file" class="" id="file" formControlName="jarUrl">
                                   </span>
                                </div> -->
                                <button class="btn btn-secondary ml-1" data-toggle="modal" data-target="#exampleModal">
                                  Upload File</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table code ends-->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header no-border">
            <h5 class="modal-title" id="exampleModalLabel">File Upload</h5>
            <button #closeModal type="button" data-target="#exampleModal" class="btn btn-default close-button topright" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
          <div class="modal-body">
            
              <div class="data-not-found-section">
               
                <!-- <p>DATA NOT FOUND</p>
                <div class="upload-btn-wrapper">
                    <button class="btn">Upload</button>
                    <input type="file" name="myfile" (change)="onChange($event)" />
                </div> -->

    <!-- filename to display to the user -->
    <p id="file-name" class="margin-10 bold-10"></p>

    <!-- Hide this from the users view with css display:none; -->
    <input class="display-none border" style="margin-right: 2px;" id="file-type" type="file" size="4" (change)="onChange($event)" name="file"/>

    <!-- Style this button with type image or css whatever you wish -->
    <button class="btn btn-success ml-3" (click)="uploadExcel()" [disabled]="!file" value="Upload">Upload</button>

    <fieldset style="margin-top: 20px;">
        <textarea name="answerField" [readonly]=true  focus-me="true" *ngIf="!statusMessageDone && !statusMessage" rows="5" cols="40"></textarea>
        <textarea name="answerField" [readonly]=true  focus-me="true" rows="5" cols="40" *ngIf="statusMessageDone" style="color: green;" ng-model="statusMessageDone">Success: {{statusMessageDone}}</textarea>
        <textarea name="answerField" [readonly]=true  focus-me="true" rows="5" cols="40" *ngIf="statusMessage" style="color: red;" ng-model="statusMessage">ERROR: {{statusMessage}}{{errorMessage}}</textarea>
    </fieldset>

    

                <!-- <div class="row">
                    <div class="col-8">
                      <label class="btn btn-default p-0">
                        <input type="file" (change)="onChange($event)" />
                      </label>
                    </div>
                  
                    <div class="col-4">
                      <button class="btn btn-success btn-sm" [disabled]="!file" (click)="uploadExcel()">
                        Upload
                      </button>
                    </div>
                  </div> -->

              </div>
          </div>
          <div class="modal-footer no-border">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <!-- <button type="button" (click)="uploadExcel()" data-toggle="modal" data-target="#responseModal" class="btn btn-primary">Save </button> -->
          </div>
      </div>
  </div>
</div>



<!-- Modal For Response-->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
  
            <div class="modal-body">
                <div class="data-not-found-section">
                    <div class="upload-btn-wrapper">
                     <p *ngIf="statusMessageDone" style="color: green;"> {{statusMessageDone}}</p>
                     <p *ngIf="!statusMessageDone" style="color: red;"> {{statusMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
  </div>
    
</body>
</html>