<!-- <p>info-cards works!</p> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
$(document).ready(function() {
    $("#exampleModal").on("hidden.bs.modal", function(){
            $(this).removeData();
        });
});
</script>
<app-navigation-bar></app-navigation-bar>
<!-- <app-cust-policy-saving-cards></app-cust-policy-saving-cards> -->
 
<div class="container mt-6">
    <div class="row  mt-5"> 
        <div class="col-12 col-md-3">
            <app-cards></app-cards>
        </div>
        <div class="col-md-9">
            <div class="middleArea">
                <div class="headingArea">
                    <h2>Refund</h2>
                    <div class="d-flex align-items-center">         
                        <!-- <div class="dropdown hand-cursor"  (onShown)="onOpenCalendar($event)" >
                            <form class="ngxdatepicker" >
                                    <input id="datePick"  data-date-inline-picker="true"  #datePickers [(ngModel)]="modelDate" autocomplete="off" class="form-control " name="date"
                                    bsDatepicker [bsConfig]="datePicker" [maxDate]="today" style="width: 130px; "
                                    (onShown)="onOpenCalendar($event)"  [bsValue]="modelDate" />
                                    
                            </form>
                        </div>   -->
                        <div class="datePicker">
                            <form class="ngxdatepicker dropdown-item datePickerDropDown" >
                                <button class="dropdown-toggle no-border form-control pr-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-date-inline-picker="true" [(ngModel)]="modelDate" autocomplete="off" name="date"
                                    bsDatepicker [bsConfig]="datePicker" [maxDate]="today" 
                                    (onShown)="onOpenCalendar($event)"  [bsValue]="modelDate">
                                         {{modelDate | date:'MMMM yyyy'}}
                                 </button>                   
                            </form>
                          </div>
                        <button class="btn btn-danger ml-4" [disabled]="!refunds"style="float: right;"(click)="tutuka()" (click)="loadSpinner()"> Transfer</button>
                        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.7)" size = "medium" color = "#e81d2c" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
                    </div>
            
                </div>
                <!--table code here-->
                <div class="tableStyle fix-height">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th  class="text-right">Policies</th>
                                <th  class="text-right">Vehicles</th>
                                <th  class="text-right">Refund</th>
                                <th>Status Message</th>
                            </tr>
                        </thead>
                        <tbody *ngFor = "let r of refunds;let i =index" >
                            <tr class="hand-cursor"  (click)="getValueOfTd(r.customerId)" (click)="toggleDisplay(i)">
                                <td >{{r.name}}</td>
                                <td class="text-right">{{r.policyCount}}</td>
                                <td class="text-right">{{r.vehicles}}</td>
                                <td class="text-right"><span class="red">R {{r.refund | number}}</span></td>
                                <td >{{r.statusMessage}}</td>
                            </tr>

                            <ng-container *ngIf="i === myIndex">
                                <ng-container *ngIf="isDisplay">
                            
                                        <td colspan="7" class="sub-info">
                                            <table class="w-100">
                                                <thead>
                                                    <tr>
                                                        <th>Policy Number</th>
                                                        <th class="text-right">Reg Number</th>
                                                        <th class="text-right">Refund Amount</th>
                                                        <th>Uploaded</th>
                                                        <th>Uploaded On</th>
                                                        <th>Upload Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rd of refundEachDatas; let j=index">
                                                            <td class="width-175">{{rd.policyNumber}}</td>
                                                            <td class="width-165 text-right">{{rd.licencePlateNumber}}</td>
                                                            <td class="width-165 text-right"><span class="red">R {{rd.rebateAmount | number}}</span></td>
                                                            <td class="width-100">{{rd.tutukaUploadFlag}}</td>
                                                            <td class="width-175" *ngIf="rd.uploadedOn">{{rd.uploadedOn | date:'yyyy-MM-dd hh:mm:ss'}}</td> <td *ngIf="!rd.uploadedOn">NA</td>
                                                            <td class="width-175" *ngIf="rd.uploadMessage">{{rd.uploadMessage}}</td><td *ngIf="!rd.uploadMessage">NA</td> 
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td> 
                                    
                                </ng-container>
                            </ng-container>
                        </tbody>
                        
                    </table>

                    <div class="" *ngIf="!refunds">
                        <div class="col-md-12 text-center mb-3">
                            <label>No data found.</label>
                        </div>
                        
                        <div class="col-md-12 text-center">
                            <div class="upload-year-doc-section">
                                <button class="btn btn-secondary ml-1" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">
                                  File Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table code ends-->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header no-border">
            <h5 class="modal-title" id="exampleModalLabel">File Upload</h5>
            <label #closeModal data-target="#exampleModal" class="hand-cursor close" aria-label="Close" (click)="clearText()" (click)="fileUpload.value = ''"  data-dismiss="modal">
                <span aria-hidden="true" class="close-modal">&times;</span>
            </label>
        </div>
          <div class="modal-body">            
              <div class="data-not-found-section">
                    <p id="file-name" class="margin-10 bold-10"></p>
                    <div class="d-flex w-100">
                        <input class="w-100 border" #fileUpload style="margin-right: 2px;" id="file-type" type="file" size="4" (change)="onChange($event)" name="file"/>
                        <button class="btn btn-primary ml-3" (click)="uploadExcel()" [disabled]="!file" value="Upload"  (click)="loadSpinner()">Upload</button>
                    </div>
                    <fieldset style="margin-top: 20px;">
                        <textarea name="answerField" [readonly]=true class="form-control" focus-me="true" *ngIf="!statusMessageDone && !statusMessage" rows="5" cols="52"></textarea>
                        <textarea name="answerField" [readonly]=true class="form-control" focus-me="true" rows="5" cols="40" *ngIf="statusMessageDone" style="color: green;" ng-model="statusMessageDone">Success: {{statusMessageDone}}</textarea>
                        <textarea name="answerField" [readonly]=true class="form-control" focus-me="true" rows="5" cols="40" *ngIf="statusMessage" style="color: red;" ng-model="statusMessage">ERROR: {{statusMessage}}{{errorMessage}}</textarea>
                    </fieldset>
              </div>
          </div>
          <div class="modal-footer no-border">
              <button type="button" #closeModal data-target="#exampleModal" aria-label="Close" (click)="clearText()" (click)="fileUpload.value = ''" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.7)" size = "medium" color = "#e81d2c" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

</div>