<!-- <p>info-cards works!</p> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<app-navigation-bar></app-navigation-bar>
<!-- <app-cust-policy-saving-cards></app-cust-policy-saving-cards> -->

    <app-cards></app-cards>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="middleArea">
                <div class="headingArea">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Refund</h2>
                        </div>
                        <div class="col-md-8 text-right">
                            <div class="row">
                                <div class="col-md-10 p-0">
                                    <div class="dropdown">
                                        <form class="ngxdatepicker">
                                             <input [(ngModel)]="modelDate" autocomplete="off" class="form-control" name="date"
                                             bsDatepicker [bsConfig]="datePicker" [maxDate]="today" style="width: 150px; float: right; "
                                             (onShown)="onOpenCalendar($event)"  [bsValue]="modelDate"/>
                                                <!-- {{modelDate}} -->
                                                

                                         </form>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                        <button class="btn btn-danger ml-3" style="float: right;"(click)="tutuka()">
                                          Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--table code here-->
                <div class="tableStyle">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Policies</th>
                                <th>Vehicles</th>
                                <th>Refund</th>
                                <th>Uploaded</th>
                                <th>Uploaded On</th>
                                <th>Upload Message</th>

                        </thead>
                        <tbody  data-ng-switch on="dayDataCollapse[$index]" *ngIf="refunds">
                            <tr *ngFor="let r of refunds" (click)="getValueOfTd(r.customerId)" >
                                <td>{{r.name}}</td>
                                <td>{{r.policyCount}}</td>
                                <td>{{r.vehicles}}</td>
                                <td><span class="red">R {{r.refund}}</span></td>
                                <td>{{r.tutukaUploadFlag}}</td>
                                <td>{{r.uploadedOn}}</td>
                                <td>{{r.uploadMessage}}</td>
                             </tr>
                           
                            <tr data-ng-switch-when="true" >
                                <th>Customer Name</th>
                                <th>Policy Number</th>
                                <th>Licence Plate Number</th>
                                <th>Rebate Amount</th>
                             </tr>
                        <ng-container >
                            <tr  *ngFor="let rd of refundEachDatas">
                                <td>{{rd.customerName}}</td>
                                <td>{{rd.policyNumber}}</td>
                                <td>{{rd.licencePlateNumber}}</td>
                                <td><span class="red">R {{rd.rebateAmount}}</span></td>
                            </tr>
                        </ng-container>
                    </tbody>
                   
                    </table>
<!--  -->



<!--  -->
                    <div class="middleArea" align="center" *ngIf="!refunds">
                        <div class="col-md-10 text-center">
                            <h5>NO DATA FOUND</h5>
                        </div>
                        
                        <div class="col-md-10 text-center">
                            <div class="upload-year-doc-section">
                                <button class="btn btn-secondary ml-1" data-toggle="modal" data-target="#exampleModal">
                                  File Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table code ends-->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header no-border">
            <h5 class="modal-title" id="exampleModalLabel">File Upload</h5>
            <button #closeModal type="button" data-target="#exampleModal" class="btn btn-default close-button topright" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
          <div class="modal-body">
            
              <div class="data-not-found-section">
                  <p id="file-name" class="margin-10 bold-10"></p>
                  <input class="display-none border" style="margin-right: 2px;" id="file-type" type="file" size="4" (change)="onChange($event)" name="file"/>
                    <button class="btn btn-success ml-3" (click)="uploadExcel()" [disabled]="!file" value="Upload">Upload</button>
                    <fieldset style="margin-top: 20px;">
                        <textarea name="answerField" [readonly]=true  focus-me="true" *ngIf="!statusMessageDone && !statusMessage" rows="5" cols="40"></textarea>
                        <textarea name="answerField" [readonly]=true  focus-me="true" rows="5" cols="40" *ngIf="statusMessageDone" style="color: green;" ng-model="statusMessageDone">Success: {{statusMessageDone}}</textarea>
                        <textarea name="answerField" [readonly]=true  focus-me="true" rows="5" cols="40" *ngIf="statusMessage" style="color: red;" ng-model="statusMessage">ERROR: {{statusMessage}}{{errorMessage}}</textarea>
                    </fieldset>
              </div>
          </div>
          <div class="modal-footer no-border">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
      </div>
  </div>
</div>



<!-- Modal For Response-->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
  
            <div class="modal-body">
                <div class="data-not-found-section">
                    <div class="upload-btn-wrapper">
                     <p *ngIf="statusMessageDone" style="color: green;"> {{statusMessageDone}}</p>
                     <p *ngIf="!statusMessageDone" style="color: red;"> {{statusMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
  </div>