<!-- <p>login-otp works!</p> -->
<div class="container-fluid" >
  <div class="d-flex justify-content-center row align-items-center" style="height:100vh; background-color: #F3F3F3;">
    <div class="card col-10 col-md-6 col-lg-6 col-xl-3 p-3">
      <div class="card-body">
        <div class="text-center mb-2">
          <img src="../../admin/assets/Images/50Fifty Logo.svg" alt="5050 logo" class="w-50 mb-5">
          <p class="mb-4">Please log in to your account</p>
        </div>
        <!--test-->
        <form class="form" #loginForm="ngForm" (ngSubmit)="GetOTP(loginForm)">
          <div class="">
            <div class="mb-3">
              <label>Username</label>
              <input name="email" type="text" class="form-control" id="userName" placeholder="Enter Username"
                [(ngModel)]="loginUserData"  required>
                
            </div>
            <div class="d-grid">
              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary hand-cursor" (click)="loadSpinner()">Get OTP </button>
            </div>
          </div>
        </form>

        <!-- 2nd screen -->
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.7)" size = "medium" color = "#e81d2c" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
      </div>

    </div>
  </div>
</div>
