<!-- <p>main-dashboard works!</p -->
  <app-navigation-bar></app-navigation-bar>
  <div class="container rateBoxWarp">
        <div class="row">
            <div class="col-md-3">
                <div class="rateBox">
                    <h2>Customers</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>1292
                                <span>As of Nov 20, 2019</span>
                            </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h3>76
                                <span>MTD Nov 2019</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rateBox">
                    <h2>Policies</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>2043
                                <span>As of Nov 20, 2019</span>
                            </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h3>98
                                <span>MTD Nov 2019</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="rateBox">
                    <h2>Customer Savings</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>R 320k
                                <span>As of Nov 20, 2019</span>
                            </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h3>R 23k
                                <span>MTD Nov 2019</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="rateBox">
                    <h2>Not Decided Yet</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>134
                                <span>As of Nov 20, 2019</span>
                            </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h3>94
                                <span>MTD Nov 2019</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container table-section">
        <div class="row">
            <div class="col-md-8">
                <div class="middleArea">
                    <div class="headingArea">
                        <div class="row">
                            <div class="col-md-8">
                                <h2>Customers</h2>
                            </div>
                            <div class="col-md-4 text-right">
                                <ul class="dateUl">
                                    <li>
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </li>
                                    <li><i class="fa fa-bars" aria-hidden="true"></i></li>
                                </ul>


                            </div>
                        </div>
                    </div>

                    <div class="tableStyle">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>CUSTOMER NAME</th>
                                    <th>POLICIES</th>
                                    <th>TOTAL PREMIUM</th>
                                    <th>LAST ACTIVITY</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lia Castro</td>
                                    <td>3</td>
                                    <td>R 3400</td>
                                    <td>12 Sep 2020</td>
                                    <td><span class="red" routerLink="/customer-dashboard">View Details</span></td>
                                </tr>
                                <tr>
                                    <td>Ivan Cornejoi</td>
                                    <td>5</td>
                                    <td>R 210</td>
                                    <td>12 Nov 2019</td>
                                    <td><span class="red">View Details</span></td>
                                </tr>
                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td>M 2586545-5659</td>
                                    <td>R 210</td>
                                    <td>12 Nov 2019</td>
                                    <td><span class="red">View Details</span></td>
                                </tr>
                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td>M 2586545-5659</td>
                                    <td>R 210</td>
                                    <td>12 Nov 2019</td>
                                    <td><span class="red">View Details</span></td>
                                </tr>
                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td>M 2586545-5659</td>
                                    <td>R 210</td>
                                    <td>12 Nov 2019</td>
                                    <td><span class="red">View Details</span></td>
                                </tr>
                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td>M 2586545-5659</td>
                                    <td>R 210</td>
                                    <td>12 Nov 2019</td>
                                    <td><span class="red">View Details</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="middleArea">
                    <div class="headingArea">
                        <div class="row">
                            <div class="col-md-8">
                                <h2>Latest OTP</h2>
                            </div>
                            <div class="col-md-4 text-right">
                                <ul class="dateUl">
                                    <li>
                                        <span class="red">View All</span>
                                    </li>

                                </ul>


                            </div>
                        </div>
                    </div>

                    <div class="tableStyle">
                        <table class="table otp-table">
                            <thead>
                                <tr>
                                    <th>CUSTOMER NAME</th>
                                    <th>OTP</th>
                                    <th>Expiry Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lia Castro</td>
                                    <td><span class="red">19198</span></td>
                                    <td> <b>12:30 AM</b> <span> 12 Sep 2020 </span></td>
                                </tr>
                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td><span class="red">19198</span></td>
                                    <td> <b>12:30 AM</b> <span> 12 Nov 2019 </span></td>
                                </tr>

                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td><span class="red">19198</span></td>
                                    <td> <b>12:30 AM</b> <span> 12 Nov 2019 </span></td>
                                </tr>

                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td><span class="red">19198</span></td>
                                    <td> <b>12:30 AM</b> <span> 12 Nov 2019 </span></td>
                                </tr>

                                <tr>
                                    <td>Uesugi Suzuki</td>
                                    <td><span class="red">19198</span></td>
                                    <td> <b>12:30 AM</b> <span> 12 Nov 2019 </span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
