<app-navigation-bar></app-navigation-bar>
  <div class="header-customer container-fluid">
        <div class="container">
            <i class="fa fa-arrow-left"></i>
            <h6> <span>Customer</span>{{cname}}</h6>
        </div>
    </div>
    <!-- head section end-->

    <!-- SUMMERY SECTION -->
    <div class="sumary-area container-fluid">
        <div class="container">
            <div class="sumary-inner-area">
                <ul>
                    <li class="active">
                        <h6>50Fifty Summary <span ng-app ng-controller="Ctrl">As of {{myDate | date: 'mediumDate' }}
                        </span></h6>
                    </li>
                    <li>
                        <h6>{{cpolicies}}<span>Policies</span></h6>
                    </li>
                    <li>
                        <h6>{{ctotalBasePremium | number}} <span>Total Base Premium</span></h6>
                    </li>
                    <li>
                        <h6>{{ctotalSaving | number}} <span>Total Savings</span></h6>
                    </li>
                    <li>
                        <h6>{{ctotalPremiumPaid | number}} <span>Debit Card Balance</span></h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- SUMMURY SECTION END -->

    <!-- TABLE SECTION -->

    <div class="table-section container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <div class="middleArea">
                        <div class="headingArea">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2>Policies</h2>
                                </div>
                                <div class="col-md-4 text-right">
                                    <ul class="dateUl">
                                        <li>
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </li>
                                        <li><i class="fa fa-bars" aria-hidden="true"></i></li>
                                    </ul>


                                </div>
                            </div>
                        </div>

                        <div class="tableStyle">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>VEHICLES</th>
                                        <th>MANUFACTURER YEAR</th>
                                        <th>POLICY NO</th>
                                        <th>BASE PREMIUM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let cp of customerPolicies">
                                        <td> <img src="{{cp.imagePath}}" class="product-icon" alt="brand"> <h6> {{cp.licensePlateNumber}} <span>{{ cp.model}}</span> </h6></td>
                                       <td>{{ cp.manufacturerYear}}</td>
                                       <td>{{ cp.policyNumber}}</td>
                                       <td align="center">{{ cp.basePremium | number}}</td>
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="middleArea">
                        <div class="headingArea">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Customer Details</h2>
                                </div>

                            </div>
                        </div>
                  <div class="customer-details">
                      <ul>
                          <li>
                              <h6><span>NAME</span>{{cname}}</h6>
                           </li>
                          <li>
                               <h6><span>EMAIL</span>{{cemail}}</h6>
                           </li>
                           <li>
                               <h6><span>MOBILE NUMBER</span>{{cmobileNumber}}</h6>
                           </li>
                           <li>
                               <h6><span>ADDRESS</span>{{caddress1}}</h6>
                           </li>
                           <li>
                               <h6><span>CITY</span>{{ccity}}</h6>
                           </li>
                           <li>
                               <h6><span>PROVINCE</span>{{cprovince}}</h6>
                           </li>
                           <li>
                               <h6><span>POSTAL CODE</span>{{cpostalCode}}</h6>
                           </li>
                           <li>
                               <h6><span>ID NUMBER</span>{{cidNumber}}</h6>
                           </li>
                       </ul>
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>