<app-navigation-bar></app-navigation-bar>
  <!-- <div class="header-customer container-fluid mt-6">
        <div class="container">
            <i class="fa fa-arrow-left" routerLink="/main-dashboard"></i>
            <h6> <span>Customer</span>{{cname}}</h6>
        </div>
    </div> -->
    <!-- head section end-->

    <!-- SUMMERY SECTION -->
    <div class="container">
    <div class="row page-top-mr">
        <div class="mb-4 col-12 col-md-4 header-customer d-flex align-items-center my-0">
            <div class="back-section">
                <i class="fa fa-arrow-left" routerLink="/main-dashboard"></i>
                <h6> <span>Customer</span>{{cname}}</h6>
            </div>
        </div>
        <div class="col-12 col-md-8 p-0">
            <div class="sumary-area container-fluid">
                
                    <div class="sumary-inner-area">
                        <ul>
                            <!-- <li class="active">
                                <h6>50Fifty Summary <span ng-app ng-controller="Ctrl">As of {{myDate | date: 'mediumDate' }}
                                </span></h6> 
        
                                
        
                            </li> -->
                            <li>
                                <h6>{{cpolicies}}<span>Policies</span></h6>
                            </li>
                            <li>
                                <h6>{{ctotalBasePremium | number}} <span>Total Base Premium</span></h6>
                            </li>
                            <li>
                                <h6>{{ctotalSaving | number}} <span>Total Savings</span></h6>
                            </li>
                            <li>
                                <h6>{{ctotalPremiumPaid | number}} <span>Debit Card Balance</span></h6>
                            </li>
                        </ul>
                    </div>
                
            </div>
        </div>
    </div>
    </div>

    <!-- SUMMURY SECTION END -->

    <!-- TABLE SECTION -->

    <div class="table-section container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    <div class="middleArea">
                        <div class="headingArea">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2>Policies</h2>
                                </div>
                            </div>
                        </div>

                        <div class="tableStyle policy-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>VEHICLES</th>
                                        <th>MANUFACTURER YEAR</th>
                                        <th>Policy Type</th>
                                        <th>POLICY NO</th>
                                        <th>BASE PREMIUM</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let cp of customerPolicies">
                                       <td> 
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="{{cp.imagePath}}" class="product-icon" alt="brand">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="text-bold"> {{cp.licensePlateNumber}} <span class="opacity-50">{{ cp.model}}</span> </h6>
                                            </div>
                                          </div>
                                            
                                           
                                       </td>
                                       <td>{{ cp.manufacturerYear}}</td>
                                       <ng-container *ngIf="cp.corporatePolicy=='yes'">
                                         <td>Corporate</td>
                                       </ng-container>
                                       <ng-container *ngIf="cp.corporatePolicy=='no'">
                                        <td>Individual</td>
                                      </ng-container>
                                       <!-- <td>{{ cp.corporatePolicy}}</td> -->
                                       <td>{{ cp.policyNumber}}</td>
                                       <td>{{ cp.basePremium | number}}</td>
                                       <td>{{ cp.policyStatus }}</td>
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="middleArea mb-4">
                        <div class="headingArea">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Customer Details</h2>
                                </div>

                            </div>
                        </div>
                        <div class="customer-details policy-table">
                      
                       <table class="w-100 customer-details-table">
                           <tr>
                               <td><span>NAME</span></td>
                               <td>{{cname}}</td>
                           </tr>
                           <tr>
                               <td><span>EMAIL</span></td>
                               <td>{{cemail}}</td>
                           </tr>
                           <tr>
                               <td><span>MOBILE NUMBER</span></td>
                               <td>{{cmobileNumber}}</td>
                           </tr>
                           <tr>
                               <td><span>ADDRESS</span></td>
                               <td>{{caddress1}},  {{cprovince}}, {{ccity}}, {{cpostalCode}}</td>
                           </tr>
                           <!-- <tr>
                               <td><span>CITY</span></td>
                               <td>{{ccity}}</td>
                           </tr>
                           <tr>
                               <td><span>PROVINCE</span></td>
                               <td>{{cprovince}}</td>
                           </tr>
                           <tr>
                               <td><span>POSTAL CODE</span></td>
                               <td>{{cpostalCode}}</td>
                           </tr> -->
                           <tr>
                               <td><span>ID NUMBER</span></td>
                               <td>{{cidNumber}}</td> 
                           </tr>

                           <tr><td colspan="2"><hr></td></tr>

                           

                           <ng-container *ngIf="ccompanyName  != null">
                                <tr>
                                    <td><span>COMPANY NAME</span></td>
                                        <ng-container *ngIf="ccompanyName==null">
                                            <td>Not Available</td>
                                        </ng-container>
                                        <td>{{ccompanyName}}</td>
                                </tr>
        
                                <tr>
                                    <td><span>COMPANY EMAIL</span></td>
                                        <ng-container *ngIf="ccompanyEmail==null">
                                            <td>Not Available</td>
                                        </ng-container>
                                        <td>{{ccompanyEmail}}</td>
                                </tr>
                                <tr>
                                    <td><span>COMPANY MOBILE NUMBER</span></td>
                                        <ng-container *ngIf="ccompanyMobileNumber==null">
                                            <td>Not Available</td>
                                        </ng-container>
                                        <td>{{ccompanyMobileNumber}}</td>
                                </tr>
                                <tr>
                                    <td><span>COMPANY ADDRESS</span></td>
                                        <ng-container *ngIf="ccompanyAddress==null">
                                            <td>Not Available</td>
                                        </ng-container>
                                        <td>{{ccompanyAddress}}</td>
                                </tr> 
                                <tr>
                                    <td><span>REGISTARTION NUMBER</span></td>
                                        <ng-container *ngIf="ccompanyRegistrationNumber==null">
                                            <td>Not Available</td>
                                        </ng-container>
                                        <td>{{ccompanyRegistrationNumber}}</td> 
                                </tr>
                           </ng-container>

                       </table>
                       <ng-container *ngIf="ccompanyName == null">
                        <div class="w-100 text-center">Company Information Not Available</div>
                       </ng-container>
                        </div>
                   </div>
                   
                </div>
                
            </div>
        </div>
    </div>