<!-- <p>customer-dashboard works!</p> -->
<app-navigation-bar></app-navigation-bar>
  <div class="header-customer container-fluid">
        <div class="container">
            <i class="fa fa-arrow-left"></i>
            <h6> <span>Customer</span>Pablo Cambeiro</h6>
        </div>
    </div>
    <!-- head section end-->

    <!-- SUMMERY SECTION -->
    <div class="sumary-area container-fluid">
        <div class="container">
            <div class="sumary-inner-area">
                <ul>
                    <li class="active">
                        <h6>50Fifty Summary <span>As of Nov 20, 2019</span></h6>
                    </li>
                    <li>
                        <h6>5<span>Policies</span></h6>
                    </li>
                    <li>
                        <h6>R 42000 <span>Total Base Premium</span></h6>
                    </li>
                    <li>
                        <h6>R 30000 <span>Total Premium Paid</span></h6>
                    </li>
                    <li>
                        <h6>R 12000 <span>Total Savings</span></h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- SUMMURY SECTION END -->

    <!-- TABLE SECTION -->

    <div class="table-section container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <div class="middleArea">
                        <div class="headingArea">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2>Policies</h2>
                                </div>
                                <div class="col-md-4 text-right">
                                    <ul class="dateUl">
                                        <li>
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </li>
                                        <li><i class="fa fa-bars" aria-hidden="true"></i></li>
                                    </ul>


                                </div>
                            </div>
                        </div>

                        <div class="tableStyle">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>VEHICLES</th>
                                        <th>POLICY NO</th>
                                        <th>BASE PREMIUM</th>
                                        <th>RENEWAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <img src="assets/Images/bmw-logo.png" class="product-icon" alt="brand"> <h6> BDB 382 EC <span>Mercedes E Class Wagon</span> </h6></td>
                                        <td>43242534</td>
                                        <td>R 1 200.00</td>
                                        <td>S12 Oct 2019</td>
                                    </tr>
                                    <tr>
                                        <td> <img src="assets/Images/bmw-logo.png" class="product-icon" alt=""> <h6> BDB 382 EC <span>Mercedes E Class Wagon</span> </h6></td>
                                        <td>43242534</td>
                                        <td>R 1 200.00</td>
                                        <td>S12 Oct 2019</td>
                                    </tr>

                                    <tr>
                                        <td> <img src="assets/Images/bmw-logo.png" class="product-icon" alt=""> <h6> BDB 382 EC <span>Mercedes E Class Wagon</span> </h6></td>
                                        <td>43242534</td>
                                        <td>R 1 200.00</td>
                                        <td>S12 Oct 2019</td>
                                    </tr>

                                    <tr>
                                        <td> <img src="assets/Images/bmw-logo.png" class="product-icon" alt=""> <h6> BDB 382 EC <span>Mercedes E Class Wagon</span> </h6></td>
                                        <td>43242534</td>
                                        <td>R 1 200.00</td>
                                        <td>S12 Oct 2019</td>
                                    </tr>
                                    <tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>


                <div class="col-md-4">
                    <div class="middleArea">
                        <div class="headingArea">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Customer Details</h2>
                                </div>

                            </div>
                        </div>
                  <div class="customer-details">
                      <ul>
                          <li>
                              <h6><span>NAME</span>Yasaman Foroutan</h6>
                           </li>
                          <li>
                               <h6><span>EMAIL</span>sanford.marcella@yahoo.com</h6>
                           </li>
                           <li>
                               <h6><span>PHONE</span>775-143-9291</h6>
                           </li>
                           <li>
                               <h6><span>ADDRESS</span>2242 Carey Street Apt. 125 Johannesburg SA 343231</h6>
                           </li>
                           <li>
                               <h6><span>ID NUMBER</span>543534232</h6>
                           </li>
                           <li>
                               <h6><span>OCCUPATION</span>Businessman</h6>
                           </li>
                       </ul>
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
