 <div class="container rateBoxWarp">
    <div class="row">
      <div class="col-md-3">
        <div class="rateBox">
          <h2>Customers</h2>
          <div class="row">
            <div class="col-md-6">
              <h3>1292
                <span>As of Nov 20, 2019</span>
              </h3>
            </div>
            <div class="col-md-6 text-right">
              <h3>76
                <span>MTD Nov 2019</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="rateBox">
          <h2>Policies</h2>
          <div class="row">
            <div class="col-md-6">
              <h3>2043
                <span>As of Nov 20, 2019</span>
              </h3>
            </div>
            <div class="col-md-6 text-right">
              <h3>98
                <span>MTD Nov 2019</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="rateBox">
          <h2>Customer Savings</h2>
          <div class="row">
            <div class="col-md-6">
              <h3>R 320k
                <span>As of Nov 20, 2019</span>
              </h3>
            </div>
            <div class="col-md-6 text-right">
              <h3>R 23k
                <span>MTD Nov 2019</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="rateBox">
          <h2>Not Decided Yet</h2>
          <div class="row">
            <div class="col-md-6">
              <h3>134
                <span>As of Nov 20, 2019</span>
              </h3>
            </div>
            <div class="col-md-6 text-right">
              <h3>94
                <span>MTD Nov 2019</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


